<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
<div  class = 'header'>
<span class='head1'>Catalog App</span>
<span class='head2'>
   {%if 'username' not in session %} 
   <a class=button href="{{url_for('showLogin')}}" > Login </a> 
   {% else %}
   <a class=button href="{{url_for('disconnect')}}" > Logout </a>
   {% endif %}
</span>
</div>

<div class = 'grid-container'>

<div class = 'edit'>

<h1> Edit Item </h1>

<form action="{{ url_for('editItem',titleinp = itemToEdit.title)}}" method = 'post'>

<dl>
	<dt>Title:</dt>
		<dd><input type ='text' size='80' name='title' placeholder = '{{itemToEdit.title}}'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='50' placeholder = '{{itemToEdit.description }}'></textarea></dd>
        <dt>Category:</dt>
		<dd>
                    <select name='category_id'> 
                    <option value="" selected="selected"></option>      
                    <option value=1>Soccer</option>
                    <option value=2>Basketball</option>
                    <option value=3>Baseball</option>
                    <option value=4>Frisbee</option>
                    <option value=5>Snowboarding</option>
                    <option value=6>Rockclimbing</option>
                    <option value=7>Foosball</option>
                    <option value=8>Skating</option>  
                    <option value=9>Hockey</option>      
                    </select> </dd>

</dl>


<input type='submit' value='Edit'>

<a href = '{{url_for('dispCategoryItemdesc',category_id=itemd.cat_id,titleinp=itemd.title)}}'> Cancel </a>
</form>
</div>
</div>
</body>
</html>
